<!DOCTYPE html>
<html>
    <head>
        <title> Calendar/Planner </title>
        <link rel="stylesheet" type="text/css" href="format.css">
        <script> let calendarDat = <%- JSON.stringify(calendarDat) %> 
            console.log(calendarDat);
        </script>
    </head>

        <body>
            
            <div class="container">
                <div id="month">
                    <h6 id="mname"> </h6>
                </div>


                <div class="mExpand">
                    <div id="openPopup">
                    </div>
                </div>

                <div class= "mgrid" id="Mgrid">
                    <div id="m1">January</div>
                    <div id="m2">February</div>
                    <div id="m3">March</div>
                    <div id="m4">April</div>
                    <div id="m5">May</div>
                    <div id="m6">June</div>
                    <div id="m7">July</div>
                    <div id="m8">August</div>
                    <div id="m9">September</div>
                    <div id="m10">October</div>
                    <div id="m11">November</div>
                    <div id="m12">December</div>
                </div>

                <div id="wExpand">
                    <div id="w1"></div>
                    <div id="w2"></div>
                    <div id="w3"></div>
                    <div id="w4"></div>
                    <div id="w5"></div>
                    <div id="w6"></div>
                    
                </div>

                <div class=names>
                    <div class="Su">Sunday</div>
                    <div class="M">Monday</div>
                    <div class="T">Tuesday</div>
                    <div class="W">Wednesday</div>
                    <div class="T">Thursday</div>
                    <div class="F">Friday</div>
                    <div class="Sa">Saturday</div>
                </div>


                <div id="days">
                 
                </div>

                <div id="week">
                    <div class="d">Sunday</div>
                    <div class="d">Monday</div>
                    <div class="d">Tuesday</div>
                    <div class="d">Wednesday</div>
                    <div class="d">Thursday</div>
                    <div class="d">Friday</div>
                    <div class="d">Saturday</div>

                    <div class="d1">
                        <li> Task </li>
                        <li> Task </li>
                        <li> Task </li>
                        <li> Task </li>
                    </div>
                    <div class="d2">

                    </div>
                    <div class="d3">

                    </div>
                    <div class="d4">

                    </div>
                    <div class="d5">

                    </div>
                    <div class="d6">

                    </div>
                    <div class="d7">

                    </div>
                </div>

                
            

                <script src="objects.js"></script>
        </body>





</html>